<p>side-nav-bar works!</p>
<html>
    <head>
        Side Navigation Bar
    </head>
    <body>
        
        <div>
            <a href = "/cyclones" routerLinkActive="router-link-active">Cyclones</a><br>
            <a routerLink = "/drinkingwaterstress" routerLinkActive="router-link-active">Drinking Water Stress</a><br>
            <a routerLink = "/flowforecast" routerLinkActive="router-link-active">Flow Forecast</a><br>
            <a routerLink = "/drought" routerLinkActive="router-link-active">Drought</a><br>
            <a routerLink= "/extremeweather" routerLinkActive="router-link-active">Extreme Weather</a><br>           
        </div>
        
    </body>
</html>

