<div class="tab " style="border: 1px solid;height:650px;margin: 0px !important;">
    <div class="container w100" id="sidebar1" style="position: relative;width:4%;">
        <div class="row">

            <div class="tab">
                <span class="tablinks tablinks_logo clearfix" placement="right" style="height:70px!important; border-bottom: 1px solid rgb(228, 228, 228);padding: 15px 5px; outline: none; display: block; text-align: center">
                        <img src="assets/img/logo.png" style="float:inherit;margin:0px 0px 0px 1px;" width="22px">s
                    </span>
                <button class="tablinks" placement="right" ngbTooltip="Application Selector"><span class="di-applications"></span>
                        <em><a routerLink = "/cyclones" routerLinkActive="router-link-active">Cyclones</a></em>
                    </button>
                <button class="tablinks" placement="right" ngbTooltip="Application Selector"><span class="di-applications"></span>
                        <em><a routerLink = "/drinkingwaterstress" routerLinkActive="router-link-active">Drinking Water Stress</a></em>
                    </button>
                <button class="tablinks" placement="right" ngbTooltip="Application Selector"><span class="di-applications"></span>
                        <em><a routerLink = "/flowforecast" routerLinkActive="router-link-active">Flow Forecast</a></em>
                    </button>
                <button class="tablinks" placement="right" ngbTooltip="Application Selector"><span class="di-applications"></span>
                        <em><a routerLink = "/drought" routerLinkActive="router-link-active">Drought</a></em>
                    </button>
                <button class="tablinks" placement="right" ngbTooltip="Application Selector"><span class="di-applications"></span>
                        <em><a routerLink= "/extremeweather" routerLinkActive="router-link-active">Extreme Weather</a></em>
                    </button>

            </div>
        </div>
    </div>
</div>