<p>header works!</p>
<html>
    <head>
        Top Navigaton bar
    </head>
    <body>
        
        <div>
            <a routerLink = "/extremeweather/rainfall" routerLinkActive="router-link-active">Rainfall</a><br>
            <a routerLink = "/extremeweather/humidity" routerLinkActive="router-link-active">Humidity</a><br>
            <a routerLink = "/extremeweather/temperature" routerLinkActive="router-link-active">Temperature</a><br>
            <a routerLink = "/extremeweather/windspeed" routerLinkActive="router-link-active">Wind Speed</a><br>
                       
        </div>
        
    </body>
</html>


